accelerate==0.32.1
diffusers==0.19.3
einops==0.8.0
gradio==4.11.0
h5py==3.11.0
huggingface-hub==0.23.4
idna==3.7
importlib_metadata==8.0.0
importlib_resources==6.4.0
kornia==0.7.3
lightning==2.0.0
matplotlib==3.9.1
numpy==1.26.4
omegaconf==2.3.0
opencv-python==4.10.0.84
packaging==24.1
pandas==2.2.2
pillow==10.4.0
pytorch-lightning==2.3.2
PyYAML==6.0.1
scikit-learn==1.5.1
scipy==1.13.1
tqdm==4.66.4
transformers==4.28.1
trimesh==4.4.1
wandb==0.17.4